.hexagon-content {
    @apply pt-16 w-full flex flex-row flex-wrap content-start;

}

h1 {
    @apply text-4xl font-bold;
}

.hexagon {
    @apply w-24 h-28 text-5xl text-white -mt-6 m-2;
    @apply flex items-center justify-center;
    @apply cursor-pointer bg-cover bg-center bg-transparent;
    @apply hover:-translate-y-1 hover:scale-110 duration-300 ease-in-out;
}

.hexagon-salto {

    @apply ml-16;
}

.hexagon:hover {
    cue: url("/138060085 (mp3cut.net).wav");
}