---
const { class: className } = Astro.props;
---

<div class={className}>
    <img
        src="/images/sho.jpeg"
        alt="sho"
        class="shadow-2x ring-offset-0 object-cover rounded-lg xl:w-96 lg:w-72 md:w-72"
        loading="lazy"
    />
</div>

<style>
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 200px;
    }
</style>
