---
import Header from "./views/Header.astro";
import PerfilProfecional from "./views/PerfilProfecional.astro";
import Layout from "../layouts/Layout.astro";
import Appbar from "../components/Appbar.astro";
import Habilidades from "./views/Habilidades.astro";
// import Proyect from "./views/proyect.astro";
---

<Layout title="TDTxLE">
	<Appbar />
	<Header />
	<PerfilProfecional />
	<Habilidades />
	<!-- <Proyect /> -->
</Layout>
