<div
    class="w-full h-24 absolute z-10 px-14 flex flex-row items-center justify-between"
>
    <div class="pl-20 flex flex-row gap-4">
        <img class="h-20" src="/images/Logo-cuadrado.png" alt="Logo" />
        <!-- <img class="h-20" src="/images/Texto.png" alt="Logo texto"> -->
    </div>
    <nav class="flex flex-row">
        <a href="#home">Home</a>
        <a href="#perfil">Sobre mi</a>
        <a href="#home">Experencias</a>
        <a href="#home">Trabajo</a>
    </nav>
    <div>
        <a
            class="px-12 py-5 cursor-pointer rounded-md bg text-white text-lg font-extrabold hover:bg-ternary-400"
            href="/cv-emilio-3.pdf" target="_blank"
        >
            mi CV</a>
    </div>
</div>

<style>
    nav > a {
        @apply px-12 py-5 cursor-pointer rounded-md text-white text-lg font-extrabold;
    }
    nav > a:hover {
        background-color: #314f77;
    }
</style>
