.DatosInfo {
    font-family: "NerdFontsIcons";
    font-size: 24px;
    width: 50px;
    height: 50px;
}
.DatosInfo .morInfo {
    display: none;
}
.DatosInfo:hover .morInfo {
    display: block;
}
.DatosInfo:hover {
    border-radius: 20px;
    width: auto;
}

.textoInfo {
    font-family: "JetBrains Mono";
}