.content-card {
    @apply flex flex-col items-center border rounded-lg shadow md:flex-row md:max-w-xl;
    @apply bg-white border-gray-200 hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700;

}

.imagen-card {
    @apply object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg;
}

.body-card {
    @apply flex flex-col justify-between p-4 leading-normal;
}