---
import Skills from "../components/skills/Skills";

const frontEnd = [
    "bx bxl-bootstrap",
    "bx bxl-jquery",
    "bx bxl-html5",
    "bx bxl-javascript",
    "bx bxl-css3",
    "bx bxl-react",
    "bx bxl-flutter",
    "nf-seti-dart",
    "nf-md-dot_net",
];
const backEnd = [
    "nf-md-dot_net",
    "nf-seti-c_sharp",
    "bx bxl-go-lang",
    "nf-dev-nginx",
    "bx bxl-nodejs",
    "bx bxl-php",
    "bx bxl-python",
];
const lenguas = [
    "nf-seti-c_sharp",
    "nf-cod-terminal_bash",
    "bx bxl-javascript",
    "bx bxl-php",
    "bx bxl-python",
    "bx bxl-go-lang",
    "nf-seti-dart",
];

const herramintas = [
    "bx bxl-git",
    "bx bxl-github",
    "bx bxl-gitlab",
    "bx bxl-tux",
    "nf-dev-terminal",
    "bx bxl-docker",
    "bx bxl-figma",
    "nf-seti-jenkins",
    "nf-md-microsoft_visual_studio_code",
    "nf-dev-vim",
    "nf-md-apache_kafka",
];

const bases = [
    "bx bxl-mongodb",
    "nf-fae-mysql",
    "nf-dev-msql_server",
    "bx bxl-postgresql",
    "nf-dev-sqllite",
];
const devops = ["bx bxl-aws", "nf-dev-nginx", "nf-cod-azure"];
---

<main class="w-screen py-6 px-32 text-secondary">
    <h1 class="font-bold text-4xl pb-14">
        <span class="nf-md-tools"></span> habilidades
    </h1>

    <div class="grid grid-cols-2">
        <audio preload="auto">
            <source src="/138060085 (mp3cut.net).wav" type="audio/wav" />
        </audio>
        <Skills titulo="front-end" habilidades={frontEnd} client:load />
        <Skills titulo="back-end" habilidades={backEnd} client:load />
        <Skills
            titulo="lenguajes de programación"
            habilidades={lenguas}
            client:load
        />
        <Skills
            titulo="herramientas varias"
            habilidades={herramintas}
            client:load
        />
        <Skills titulo="bases de datos" habilidades={bases} client:load />
        <Skills titulo="SRE & DevOps" habilidades={devops} client:load />
    </div>
</main>
