---
import Imagenperfil from "../components/Imagenperfil.astro";
import { ContactoIcon } from "../../components/react/ContactoIcon";

const listaAreasInteres = [
    "Desarrollador Backend",
    "Desarrollador WEB",
    "Desarrollador Flutter",
    "Desarrollador DevOps",
];
const colorAreas = "ffffff";
const areasInteres = listaAreasInteres.join(";").replaceAll(" ", "+");

const redes = [
    {
        text: "TDTxLE@gmail.com",
        icon: "󰇮",
        enlace: "mailto:TDTxLE@gmail.com?subject=Portafolio-",
        copiar: "TDTxLE@gmail.com",
        color: "#4285f4",
    },
    {
        text: "LuisDeLaValie",
        icon: "",
        enlace: "https://github.com/LuisDeLaValie",
        copiar: "https://github.com/LuisDeLaValie",
        color: "#010409",
    },
    {
        text: "LuisDeLaValie",
        icon: "",
        enlace: "https://gitlab.com/LuisDeLaValie",
        copiar: "https://gitlab.com/LuisDeLaValie",
        color: "#a02e1c",
    },
];
---

<main id="presentacion"
    class="bg-cover bg-center flex w-screen h-screen items-center justify-center"
    style="background-image: url('/images/fondo.jpeg')"
>
    <div class="absolute inset-y-0 left-0 flex-none block z-20">
        <div class="flex flex-wrap flex-col gap-1 justify-center h-full">
            {
                redes.map((item) => (
                    <ContactoIcon
                        texto={item.text}
                        icon={item.icon}
                        enlace={item.enlace}
                        copiar={item.copiar}
                        color={item.color}
                        client:load
                    />
                ))
            }
        </div>
    </div>

    <div
        class=" pt-28 text-white text-start backdrop-blur-sm relative bg-black/30 w-full h-full"
    >
        <div class="flex flex-row w-full h-full">
            <div class="pt-20 pl-24">
                <h1
                    class="nombre xl:text-8xl lg:text-7xl md:text-7xl sm:text-5xl text-4xl font-black"
                >
                    Hola Soy Emilio Partida
                </h1>
                <div class="lg:hidden p-7">
                    <Imagenperfil
                        class="h-full w-ful flex justify-center items-center"
                    />
                </div>
                <img
                    class="pt-5"
                    src={`https://readme-typing-svg.herokuapp.com?
                    center=true
                    &width=768
                    &height=85
                    &color=${colorAreas}
                    &size=56
                    &lines=${areasInteres}
                    &weight=900`}
                />
                <p class="text-xl px-7 max-w-2xl hidden lg:block">
                    Desarrollo de aplicaciones web y aplicaciones móviles.
                    Apasionado de aprender nuevas tecnologías para innovar.
                </p>
            </div>
            <div class="lg:block hidden w-2/5">
                <Imagenperfil
                    class="h-full mx-34 flex justify-center items-center"
                />
            </div>
        </div>
    </div>
</main>