
<main id="perfil" class="w-screen py-10 px-20 text-white  bg-primary-500">
    <h1 class="font-bold text-4xl">
        <span class="nf-md-face_man_profile"></span> Perfil Profecional
    </h1>
    <p class="pt-20 pl-48 max-w-6xl text-xl">
        Soy mexicano, originario de Colima, y me especializo en el desarrollo de
        aplicaciones web y móviles. Soy apasionado por aprender nuevas
        tecnologías para innovar y mejorar mis habilidades.
    </p>
    <p class="py-10 pl-48 max-w-6xl text-xl">
        Con una sólida experiencia de cuatro años en el desarrollo web
        utilizando la tecnología .NET y en el desarrollo móvil con la tecnología
        Flutter. Mi enfoque se centra en crear soluciones eficientes y
        atractivas para satisfacer las necesidades de los usuarios.
    </p>
</main>

