---
import { githubApi } from "../../api/github.api";
import { Proyectos } from "../../components/react/Proyectos.tsx";

const { data, status } = await githubApi.get("user/repos?sort=updated");
---

<div class="py-24 px-12">
    <h1>Proyectos resientes</h1>
    <div class="">
        <Proyectos data={data} client:load />
    </div>
</div>
