---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/images/Logo-circular.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<link rel="stylesheet" href="https://www.nerdfonts.com/assets/css/webfont.css">
		<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	@font-face {
		font-family: "NerdFontsIcons";
		src: url("/public/fonts/nerdfonts/icons/SymbolsNerdFont-Regular.ttf")
			format("truetype");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: "JetBrains Mono";
		src: url("/public/fonts/nerdfonts/JetBrainsMono/JetBrainsMonoNLNerdFont-Regular.ttf")
			format("truetype");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
</style>

<style>
	body {
		border: 0px;
		margin: 0px;
		font-family: 'JetBrains Mono';
	}
</style>
